body{
    background-color:#DBF0F0;
    font-family:public sans VF italic,sans-serif
}
#image{
    border-radius:50%
}
#headtable{
    background-color:#ff9900;
    color:black;
    padding:"27px"
    
}
.bigtag{
    color:green;
    /* background-color:grey; */
    width:50%;
    text-align:left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}